<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{base}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>
<body layout:fragment="content">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post" th:object="${loginForm}">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
        </div>
        <div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            <button type="submit">Login</button>
        </div>
        <div th:if="${error}">
            <p th:text="${error}"></p>
        </div>
    </form>
</body>
</html>